out

*.iml
*.ipr
*.iws
*.class

.idea/
classes/
target/
tmp/
classes/
.settings/

.DS_Store
.project
.classpath
local.properties
proguard-project.txt

RapidFTR-Android/libs/server-standalone.jar
RapidFTR-AndroidTests/bin/
RapidFTR-Android/bin/
