.idea/workspace.xml
out
RapidFTR-Android/local.properties
RapidFTR-Android/bin
NativeDriverTests/.DS_Store
RapidFTR-Android/libs/server-standalone.jar
AndroidTests/local.properties
*.iml
.idea/*
*.ipr
*.iws
.idea/
classes/
target/
tmp/
classes/
