env:
  global:
    - "WEB_URL=http://10.0.2.2:2000"
    - ANDROID_SDKS=android-15,sysimg-15
    - ANDROID_TARGET=android-15
    - ANDROID_ABI=armeabi-v7a
  matrix:
    - CMD=unit_test.sh
    - CMD=emulator_test.sh

language: android
android:
  components:
    - build-tools-19.0.2
    - android-10
  licenses:
    - 'android-sdk-.*'
    - '.*intel.+'
script:
  - sh RapidFTR-Android/travis/$CMD
notifications:
  - email: false
