<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>cavey79</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>+t7xuEQgSYyKZWaKX8Pdwoi3C5FjtgqJXUBjaj71Vl8uqYBPWXn5WmnIorSEoP/Q</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>cavey79@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>