<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>ThoughtWorks</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>IbmiGipJTJGmmyX/fufG1IDqJ4WYWPuC5gzFQKoL6jIuqYBPWXn5WmnIorSEoP/Q</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ThoughtWorks@DA6486s-MacBook-Pro.local</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>